* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  padding: 20px 20px;
  background-color: #dec6a5;
  box-shadow: 0 5px 15px #dec6a5;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.hero button {
  background-image: url(/src/assets/images/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
}
.card {
  box-shadow: 0 5px 15px #dec6a5;
}